<%= link_to video_path(video) do %>
  <div class='card-container border border-gray-500 rounded shadow p-2'>
    <!-- create a partial here that shows the video with some overlays (name, length,)-->
    <div style="display:flex;position:relative;margin:0; justify-content: center;">
      <%= image_tag(video_thumbnail(video)) %>
    </div>
    <div>
      <div class="font-bold text-xl"><%= video.title.upcase %></div>
      <div class="text-gray-500"><em><%= video.original_post_date.strftime("%B #{video.original_post_date.day.ordinalize}, %Y") %></em></div>
      <div><%= video.description %></div>
    </div>
  </div>
<% end %>