<!DOCTYPE html>
<html>
  <head>
    <title>ForgetBusyLiving</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="font-sans leading-normal tracking-normal">
    <%= render partial: 'shared/nav' %>

    <div id="app" class="container w-full md:max-w-3xl mx-auto pt-2">
      <%= yield %>
    </div>

    <%= render partial: 'shared/footer' %>
  </body>
</html>
